body {
    font-family: 'Oswald', sans-serif;
}

.logo {
    padding: 1rem;
    img {
        width: 3rem;
    } 
}

.navRow {
    display: flex;
    align-items: center;
}

nav {
    ul {
        display: flex;
        justify-content: space-around;
    }
}

.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}


