//@media (max-width: 780px) and (orientation:landscape) {
//    .sectionWelcome {
//        div {
//            width:50%;
//            height:50%;
//        }
//    }
//}

@media (max-width: 720px) {
    .section1 span {
        img {
            height:20px;
        }
    }
    .sectionAbout {
    //font-size: 1.7rem;
      h4 {
          //ont-size: 2rem;
      }
      img {
          transform: rotate(0deg);
      }
    }
}

@media (max-width: 420px) {
    .sectionAbout {
    //font-size: 1.2rem;
        h4 {
          //font-size: 1.6rem;
        }
    }
    .footerRow span a {
        font-size: 0.6em;
    }
}

@media (max-width: 360px) {
    .sectionAbout {
    font-size: 1em;
    line-height: 1.5em;
        h4 {
          font-size: 1.6em;
        }
    }
    .footerRow span a {
        font-size: 0.5em;
    }
    .sectionOffer h4 {
        font-size: 1.6em;
    }
}

@media (max-width: 320px) {
    .sectionAbout {
    //font-size: 1rem;
        h4 {
          //font-size: 1.6rem;
        }
    }
    .contact p {
        font-size: 0.8em;
    }
}